// footer Section
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    >.icons  i {
        font-size: 1.6rem;
        color: #636363;
        margin-right: 2.5rem;
        &:hover {
            color: #58BA1E;
        }
    }
    >p {
        color: #636363;
        margin-top: 3rem;
        font-family: "Roboto";
        font-size: 1.6rem;
    }
}
// it is responsive and doesnt need any media queries
// TPIMB ~~~/~~~ PRS-GH (S) // MH-Alikhani (T)